@font-face {
    font-family: "ZEISS-Frutiger";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Light.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Light.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Light.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Light.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Light.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Light.svg#ZEISS-Frutiger) format("svg");
    font-weight:300;
    font-style:normal;
    font-stretch:normal
}

@font-face {
font-family:"ZEISS-Frutiger";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Light-Italic.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Light-Italic.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Light-Italic.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Light-Italic.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Light-Italic.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Light-Italic.svg#ZEISS-Frutiger)     format("svg");
    font-weight:300;
    font-style:italic;
    font-stretch:normal
}

@font-face {
    font-family:"ZEISS-Frutiger";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular.svg#ZEISS-Frutiger) format("svg");
    font-weight:400;
    font-style:normal;
    font-stretch:normal
}

@font-face {
    font-family:"ZEISS-Frutiger";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular-Italic.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular-Italic.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular-Italic.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular-Italic.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular-Italic.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular-Italic.svg#ZEISS-Frutiger) format("svg");
    font-weight:400;
    font-style:italic;
    font-stretch:normal
}

@font-face {
    font-family:"ZEISS-Frutiger";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium.svg#ZEISS-Frutiger) format("svg");
    font-weight:500;
    font-style:normal;
    font-stretch:normal
}

@font-face {
    font-family:"ZEISS-Frutiger";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium-Italic.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium-Italic.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium-Italic.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium-Italic.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium-Italic.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium-Italic.svg#ZEISS-Frutiger) format("svg");
    font-weight:500;
    font-style:italic;
    font-stretch:normal
}

@font-face {
    font-family:"ZEISS-Frutiger";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold.svg#ZEISS-Frutiger) format("svg");
    font-weight:700;
    font-style:normal;
    font-stretch:normal
}

@font-face {
    font-family:"ZEISS-Frutiger";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold-Italic.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold-Italic.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold-Italic.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold-Italic.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold-Italic.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold-Italic.svg#ZEISS-Frutiger) format("svg");
    font-weight:700;
    font-style:italic;
    font-stretch:normal
}

@font-face {
    font-family:"ZEISS-Frutiger";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy.svg#ZEISS-Frutiger) format("svg");
    font-weight:800;
    font-style:normal;
    font-stretch:normal
}

@font-face {
    font-family:"ZEISS-Frutiger";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy-Italic.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy-Italic.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy-Italic.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy-Italic.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy-Italic.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy-Italic.svg#ZEISS-Frutiger) format("svg");
    font-weight:800;
    font-style:italic;
    font-stretch:normal
}

@font-face {
    font-family:"ZEISS-FrutigerCn";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Light-Condensed.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Light-Condensed.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Light-Condensed.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Light-Condensed.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Light-Condensed.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Light-Condensed.svg#ZEISS-FrutigerCn) format("svg");
    font-weight:300;
    font-style:normal;
    font-stretch:normal
}

@font-face {
    font-family:"ZEISS-FrutigerCn";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular-Condensed.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular-Condensed.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular-Condensed.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular-Condensed.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular-Condensed.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Regular-Condensed.svg#ZEISS-FrutigerCn) format("svg");
    font-weight:400;
    font-style:normal;
    font-stretch:normal
}

@font-face {
    font-family:"ZEISS-FrutigerCn";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium-Condensed.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium-Condensed.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium-Condensed.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium-Condensed.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium-Condensed.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Medium-Condensed.svg#ZEISS-FrutigerCn) format("svg");
    font-weight:500;
    font-style:normal;
    font-stretch:normal
}

@font-face {
    font-family:"ZEISS-FrutigerCn";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold-Condensed.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold-Condensed.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold-Condensed.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold-Condensed.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold-Condensed.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Bold-Condensed.svg#ZEISS-FrutigerCn) format("svg");
    font-weight:700;
    font-style:normal;
    font-stretch:normal
}

@font-face {
    font-family:"ZEISS-FrutigerCn";
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy-Condensed.eot);
    src:
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy-Condensed.eot?#iefix) format("embedded-opentype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy-Condensed.woff2) format("woff2"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy-Condensed.woff) format("woff"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy-Condensed.ttf) format("truetype"),
        url(../fonts/ZEISS-Frutiger-Next-W02-Heavy-Condensed.svg#ZEISS-FrutigerCn) format("svg");
    font-weight:800;
    font-style:normal;
    font-stretch:normal
}

/*
.h1,.h2,.h3,.h4,.h5,.h6,body,h1,h2,h3,h4,h5,h6,html {
    font-family:"ZEISS-Frutiger", Helvetica, Arial, sans-serif;
    font-style:normal
}
*/